.section-3 {
    margin-top: 25%;
    background-image: url(../../images/Healt.jpg);
    width: 100%;
    height: 492px;
    background-position: center;
    background-size: cover;
    background-attachment:fixed ;
    @include flexRow(flex-end,center);
    position: relative;

    .color-overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 42%;
    }
    .heading {
        width: 100%;
        padding:0 5%;
        height: 100vh;
        position: absolute;
        color: white;
        left: 0;
        top: 15%;
        display:flex;
        @include flexColumn(flex-start,center);
        
        text-align: center;

        h2{
            font-size: 32px;
            margin: 20px;
        }
        p{           
             margin: 24px;
             width: 50%;
             font-family: 'rooneysansregular';
             @media (max-width: 1124px){
                width: 80%;
            }
        }
        
        .buttons{
            width: 100%;
            @include flexRow(center,center);
            .get-started{
                color: white;
                padding: 15px 26px;
                background-color: $Primary;
                border-radius: 6px;
                margin:2.5% ;
                font-weight: 100;
            }
        }    
        
    }
    @media (max-width: $medium){
        margin-top: 180%;
    }
    @media (max-width:$small){
        margin-top: 350%;
    }
}